<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775057952941-9jc43v8ohfvjs9tm219h20fl2vajfb7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775057952941-9jc43v8ohfvjs9tm219h20fl2vajfb7o</string>
	<key>API_KEY</key>
	<string>AIzaSyDk3MDbyyF4k5aiKzRuax63nr9DAq9QilQ</string>
	<key>GCM_SENDER_ID</key>
	<string>775057952941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.footclubs.ballx</string>
	<key>PROJECT_ID</key>
	<string>xbet-football-clubs</string>
	<key>STORAGE_BUCKET</key>
	<string>xbet-football-clubs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775057952941:ios:29121452a0436f4b653624</string>
	<key>DATABASE_URL</key>
	<string>https://xbet-football-clubs-default-rtdb.firebaseio.com</string>
</dict>
</plist>